@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/jost-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/jost-v12-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/jost-v12-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/jost-v12-latin-700.woff2') format('woff2');
}

html,
body {
  padding: 0 !important;
  margin: 0;

  background: #ececec;
  font-family: var(--font-sans);
  height: 100vh;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  font-size: 62.5%;
  color: var(--color-text-1);

  --color-primary-1: #000000;
  --color-primary-2: #5e5e5e;
  --color-primary-3: #9b9b9b;
  --color-secondary-1: #f3f3f3;
  --color-secondary-2: #dddddd;
  --color-secondary-3: #c6c6c6;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-success: #0abb63;
  --color-info: #4fc0ff;
  --color-warning: #ff902b;
  --color-error: #ed6668;
  --color-text-1: #333333;
  --color-text-2: rgba(51, 51, 51, 0.5);
  --breakpoint-xs: 0;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --font-sans: 'Jost', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-monospace: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
